<section class="card" style="display: none;">
    <div class="card-content">
      <a class="dayvieweventid" data-value='{{id}}' href="/dayview/{{id}}">
        <div class="card-header">
          <p class="title eventtitle">{{name}}</p>
        </div>
        <p class="eventdate" data-value="{{name}}">{{date}}</p>
        <p class="eventtime">{{format_time time}}</p>
      </a>
    </div>
</section>