{{> nav}}
<div>
<strong> Name: </strong> {{event.name}}
</div>

<div>
<strong>Description:</strong> {{event.description}}
</div>

<div>
<strong>Event Date:</strong> {{event.date}}
</div>

<div>
<strong>Event Time:</strong> {{event.time}}
</div>

<div>
<strong>Created by:</strong> {{event.user_id}}
</div>

<div>
<strong>Address:</strong> {{event.streetnumber}} {{event.streetname}} {{event.unitapt}}
</div>

<div>
<strong>City:</strong> {{event.city}}
</div>

<div>
<strong>State:</strong> {{event.state}}
</div>

<div>
<strong>Zip Code:</strong>  {{event.zipcode}}
</div>

