{{> nav}}
<div class="card">

<div class="card-header">
<p class="title"> {{event.name}}</p>
</div>
<div class="card-content"></div>
<div class="block">
<strong>Description:</strong> {{event.description}}
</div>

<div class="block">
<strong>Event Date:</strong> {{event.date}}
</div>

<div class="block">
<strong>Event Time:</strong> {{event.time}}
</div>

<div class="block">
<strong>Created by:</strong> {{event.user_id}}
</div>

<div class="block">
<strong>Address:</strong> {{event.streetnumber}} 
{{event.streetname}} 
{{event.unitapt}},
{{event.city}},
{{event.state}},
{{event.zipcode}}
</div>
</div>
</div>